---
component: stylesheet-headers
hide: true
published: false
---
<section class="block block-size-a">
	<header>
		<h2 class="header-stylesheet">Headings</h2>
	</header>
	<h1>H1.	Cras justo odio, dapibus</h1>
	<h2>H2. Cras justo odio, dapibus</h2>
	<h3>H3. Cras justo odio, dapibus</h3>
	<h4>H4. Cras justo odio, dapibus</h4>
	<h5>H5. Cras justo odio, dapibus</h5>
</section>
