---
component: stylesheet-blockquote
hide: true
published: false
---
<section class="block block-size-a">
	<h2 class="visually-hidden">Blockquote</h2>
	<blockquote class="quote">
		<div class="quote-detail">
			<p>&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&quot;</p>
		</div>
		<footer class="quote-caption"><cite>&mdash; Person Name, Company Name</cite></footer>
	</blockquote>
</section>
