---
component: header-navigation
---
<nav class="header-navigation" id="navigation" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<h4>Navigation</h4>
	<ul class="menu-primary menu-level-0">
		<li class="active"><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
	</ul>
</nav>
<!-- end #navigation -->
