---
component: header
hide: true
published: false
---
<header class="header" id="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
	<div class="header-inner">
		{{>header-logo}}
		{{>header-navigation}}
	</div>
</header>
<!-- end #header -->
