---
component: header-navigation
hide: true
published: false
---
<nav class="navigation" id="navigation" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<h4 class="navigation-title">Navigation</h4>
	<ul class="navigation-menu menu-level-0">
	{{#each navigation}}
		<li>
			<a href="{{url}}" class="{{#if class}}{{class}}{{/if}} {{#is id ../activePageId}}active{{/is}}">
				<span>{{title}}</span>
			</a>
		</li>
	{{/each}}
	</ul>
</nav>
