---
component: article
---
<article class="article">
	<header class="article-header">
		<h2>Article Title</h2>
	</header>
	<div class="article-details">
		<p>Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.</p>
	</div>
	<footer class="article-footer">
		<a href="link-more">Read more about: Article Title</a>
	</footer>
</article>
