// Icons

@font-face {
	font-family: '#{$icon-font}';
	src:url('#{$directory-fonts}/#{$icon-font}.eot?4b777r');
	src:url('#{$directory-fonts}/#{$icon-font}.eot?#iefix') format('embedded-opentype'),
	url('#{$directory-fonts}/#{$icon-font}.ttf?4b777r') format('truetype'),
	url('#{$directory-fonts}/#{$icon-font}.woff?4b777r') format('woff'),
	url('#{$directory-fonts}/#{$icon-font}.svg?4b777r#@{icon-font}') format('svg');
	font-weight: normal;
	font-style: normal;
}

%icon {
	font-family: '#{$icon-font}';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	b {
        @include visually-hidden();
    }
}

.icon{
	@extend %icon;
}

.#{$icon-prefix}--arrow-left:before {
  content: "\e908";
}
.#{$icon-prefix}--arrow-right:before {
  content: "\e909";
}
.#{$icon-prefix}--placeholder:before {
  content: "\e907";
}
.#{$icon-prefix}--chevron-up:before {
  content: "\e900";
}
.#{$icon-prefix}--x:before {
  content: "\e901";
}
.#{$icon-prefix}--menu:before {
  content: "\e902";
}
.#{$icon-prefix}--check:before {
  content: "\e903";
}
.#{$icon-prefix}--arrow-up:before {
  content: "\e904";
}
.#{$icon-prefix}--arrow-down:before {
  content: "\e905";
}
.#{$icon-prefix}--chevron-down:before {
  content: "\e906";
}



.bb-icon {
	font-family: 'bb-icon' !important;
}