html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

/* main styles */
body {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
a,
a:link,
a:visited,
a:focus {
    color: #2056AE;
    text-decoration: none;
    border-bottom: 1px solid rgba(32,86,174,0);
}
a:hover {
    color: #2056AE;
    text-decoration: none;
    border-bottom: 1px solid rgba(32,86,174,0.2);
}
b, strong {
	font-weight: normal;
}
p {
	margin-bottom: 20px;
}
.container {
    max-width: 940px;
    margin: 0 20px;
    position: relative;
    overflow: hidden;
}
@media only screen and (min-width: 980px) {
    .container {
        margin: 0 auto;
    }
}
.header {
    padding: 20px 0 0;
    width: 100%;
    overflow: hidden;
    float: left;
}
.header a {
    border: 0;
}
.header .logo {
    float: left;
    max-width: 63px;
    margin-bottom: 10px;
}
@media only screen and (min-width: 660px) {
    .header .logo {
        max-width: 83px;
        margin-bottom: 0;
    }
}
.header .logo img {
	max-width: 100%;
	height: auto;
}
.header .project-title {
    float: left;
    clear: both;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: 'Helvetica Neue', Arial, Sans-Serif;
}
@media only screen and (min-width: 660px) {
    .header .project-title {
        float: right;
        text-align: right;
        clear: none;
        max-width: 60%;
        padding: 0 2px;
    }
}
.header .last-modified {
   	font-size: 12px;
   	font-weight: normal;
   	display: block;
   	line-height: 20px;
   	text-align: right;
   	letter-spacing: 0;
   	padding-top: 5px;
   	font-family: Georgia, serif;
}
.main {
    clear: both;
    width: 100%;
    float: left;
}
h2 {
    padding: 20px 0 10px;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    clear: both;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Arial, Sans-Serif;
}
h2 b {
	font-weight: bold
}
h2 span {
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    font-family: 'Helvetica Neue', Arial, Sans-Serif;
    vertical-align: baseline;
}
span.small {
    font-size: 12px;
    vertical-align: middle;
}
.file-list {
    padding: 0;
    width: 100%;
    float: left;
    border-top: 1px solid #E6E6E7;
    font-size: 16px;
}
.file-list li {
    padding: 10px 0;
    border-bottom: 1px solid #E6E6E7;
    width: 100%;
    float: left;
}
.file-list li:first-child {
	border-top: 0;
}

.page-link {
    width: 100%;
    float: left;
    border-top: 1px solid #E6E6E7;
    border-bottom: 1px solid #E6E6E7;
    font-size: 16px;
    padding: 10px 0;
    margin: 0;
}
.page-link strong {
    clear: both;
    float: none;
    display: block;
    text-align: left;
    font-size: 12px;
    padding-top: 2px;
}
.back-link {
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 20px 0 10px;
    margin: 0;
}
.footer {
    padding: 20px 0;
    overflow: hidden;
    clear: both;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
}
/* responsive test tool */
.responsive {

}
.responsive-header {
    padding: 20px 20px 0;
}
.responsive-options {
	display: inline-block;
	padding-left: 20px;
}
.responsive-options label {
	padding-right: 10px;
}
.responsive-frames {
    overflow-x: scroll;
    width: 100%;
}
.responsive-frames-inner {
    padding: 20px;
    overflow: hidden;
}
.responsive-frame {
	float: left;
	padding-left: 20px;
}
.responsive-frame:first-child {
	padding-left: 0;
}
.responsive-frame h2 {
	padding-top: 0;
}
.responsive-frame iframe{
	border: solid 1px #000;
}
.responsive-width-only .responsive-frame iframe {
	height: 500px;
}
.responsive-width-only .responsive-frame h2 span,
.responsive-width-only .responsive-frame h2 b {
	display: none;
}
/* responsive frame loader */
.responsive-frame-loader {
	display: none;
}
.responsive-frame.loading .responsive-frame-loader{
	display: inline-block;
	vertical-align: middle;
	margin: -3px 0 0 3px;
}
