---
component: footer
hide: true
published: false
---
			<footer id="footer" role="contentinfo">

			</footer>
			<!-- end #footer -->

		</div>
		<!-- end #page -->

		<!-- Jquery -->
		<script src="{{assets}}/scripts/jquery.js"></script>
		<!-- Combined Scripts -->
		<script src="{{assets}}/scripts/scripts.js"></script>

	</body>
</html>
