<section class="block block--size-a">
    <header>
        <h2 class="header--stylesheet">Default buttons <small>(.btn)</small></h2>
    </header>
    <div class="icons">
        <ul class="list--unstyled">
            <li>
                <i class="icon icon--placeholder" aria-hidden="true"></i> .icon .icon--placeholder
            </li>
            <li>
                <i class="icon icon--arrow-left" aria-hidden="true"></i> .icon .icon--arrow-left
            </li>
            <li>
                <i class="icon icon--arrow-right" aria-hidden="true"></i> .icon .icon--arrow-right
            </li>
            <li>
                <i class="icon icon--arrow-up" aria-hidden="true"></i> .icon .icon--arrow-up
            </li>
            <li>
                <i class="icon icon--arrow-down" aria-hidden="true"></i> .icon .icon--arrow-down
            </li>
            <li>
                <i class="icon icon--chevron-up" aria-hidden="true"></i> .icon .icon--chevron-up
            </li>
            <li>
                <i class="icon icon--chevron-down" aria-hidden="true"></i> .icon .icon--chevron-down
            </li>
            <li>
                <i class="icon icon--x" aria-hidden="true"></i> .icon .icon--x
            </li>
            <li>
                <i class="icon icon--menu" aria-hidden="true"></i> .icon .icon--menu
            </li>
            <li>
                <i class="icon icon--check" aria-hidden="true"></i> .icon .icon--check
            </li>
        </ul>
    </div>
</section>