.kss-style {
  color: #444444;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.kss-style a {
  color: #0645ad;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
}
.kss-style a:visited {
  color: #0645ad;
}
.kss-style a:hover,
.kss-style a:focus {
  color: #2272f7;
}
.kss-style a:active {
  color: #faa700;
}
.kss-style a:hover,
.kss-style a:active {
  outline: 0;
}
.kss-style p {
  margin: 12px 0 24px 0;
}
.kss-style h1,
.kss-style h2,
.kss-style h3,
.kss-style h4,
.kss-style h5,
.kss-style h6 {
  margin: 24px 0 0 0;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  color: #111111;
  line-height: 1.15em;
}
.kss-style h4,
.kss-style h5,
.kss-style h6 {
  font-weight: bold;
}
.kss-style h1 {
  font-size: 40px;
}
.kss-style h2 {
  font-size: 36px;
}
.kss-style h3 {
  font-size: 34px;
}
.kss-style h4 {
  font-size: 32px;
}
.kss-style h5 {
  font-size: 30px;
}
.kss-style h6 {
  font-size: 28px;
}
.kss-style blockquote {
  color: #666666;
  margin: 0;
  padding-left: 24px;
  border-left: 0.5em #d9d9d9 solid;
}
.kss-style hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #e6e6e6;
  margin: 24px 0;
  padding: 0;
}
.kss-style pre,
.kss-style code,
.kss-style kbd,
.kss-style samp {
  font-family: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;
  color: #2b2b2b;
  font-size: 1em;
}
.kss-style pre {
  white-space: pre;
}
.kss-style ins {
  color: #111111;
  background: #ff9;
  text-decoration: none;
}
.kss-style mark {
  color: #111111;
  background: #ff0;
  font-weight: bold;
}
.kss-style sub,
.kss-style sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.kss-style sup {
  top: -0.5em;
}
.kss-style sub {
  bottom: -0.25em;
}
.kss-style ul,
.kss-style ol {
  margin: 24px 0;
  padding: 0 0 0 24px;
}
.kss-style li p:last-child {
  margin: 0;
}
.kss-style dd {
  margin: 0 0 0 24px;
}
.kss-style img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.kss-style table {
  border-collapse: collapse;
  border-spacing: 0;
}
.kss-style td {
  vertical-align: top;
}
@media print {
  .kss-style a,
  .kss-style a:visited {
    text-decoration: underline;
  }
  .kss-style hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }
  .kss-style a[href]:after {
    content: " (" attr(href) ")";
  }
  .kss-style a[href^="javascript:"]:after,
  .kss-style a[href^="#"]:after {
    content: "";
  }
  .kss-style abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .kss-style pre,
  .kss-style blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }
  .kss-style tr,
  .kss-style img {
    page-break-inside: avoid;
  }
  .kss-style img {
    max-width: 100% !important;
  }
  .kss-style p,
  .kss-style h2,
  .kss-style h3 {
    orphans: 3;
    widows: 3;
  }
  .kss-style h2,
  .kss-style h3 {
    page-break-after: avoid;
  }
}
#kss-node {
  margin: 0;
  padding: 0;
  background: #fff;
  width: 100%;
}
#kss-node .kss-main {
  width: 100%;
}
@media (min-width: 75em) {
  #kss-node .kss-main {
    padding: 0;
    width: 880px;
    margin: 0 auto;
    padding-left: 50px;
  }
  .rtl #kss-node .kss-main {
    padding: 0;
    padding-right: 50px;
  }
}
#kss-node .kss-sidebar {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #CCC;
  background: #eee;
  width: 100%;
  padding: 2% 5% 1% 5%;
}
@media (min-width: 75em) {
  #kss-node .kss-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 195px;
    height: 100%;
    overflow: auto;
    border-bottom: 0;
    padding: 20px 20px;
    z-index: 1002;
  }
  .rtl #kss-node .kss-sidebar {
    left: auto;
    right: 0;
  }
}
#kss-node .kss-doc-title {
  margin: 0;
}
@media (min-width: 75em) {
  #kss-node .kss-doc-title {
    font-size: 1.5em;
  }
}
#kss-node .kss-nav__menu {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0;
  list-style-type: none;
}
#kss-node .kss-nav__menu-item {
  display: inline-block;
  padding-right: 24px;
  margin-bottom: 3px;
}
@media (min-width: 75em) {
  #kss-node .kss-nav__menu-item {
    display: list-item;
    padding-right: 0;
  }
}
#kss-node .kss-nav__menu-child {
  display: none;
}
@media (min-width: 75em) {
  #kss-node .kss-nav__menu-child {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #kss-node .kss-nav__menu-child li:first-child {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding: 10px 0 0;
  }
  #kss-node .kss-nav__menu-child li:last-child {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px;
  }
  #kss-node .kss-nav__menu-child li:empty {
    display: none;
  }
}
#kss-node .kss-nav__ref {
  color: #333;
  font-weight: bold;
}
#kss-node .kss-nav__ref:after {
  content: ' ';
}
#kss-node .kss-nav__menu-child .kss-nav__ref {
  font-weight: normal;
}
#kss-node {
  /* Pretty printing styles. Used with prettify.js. */
  /* SPAN elements with the classes below are added by prettyprint. */
  /* plain text */
  /* string content */
  /* a keyword */
  /* a comment */
  /* a type name */
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* a markup tag name */
  /* a markup attribute name */
  /* a markup attribute value */
  /* a declaration; a variable name */
  /* a function name */
  /* Use higher contrast and text-weight for printable form. */
  /* Specify class=linenums on a pre to get line numbering */
}
#kss-node .kss-section {
  margin-bottom: 72px;
}
#kss-node .kss-title {
  margin-bottom: 24px;
  margin-top: 48px;
}
#kss-node .kss-title__ref {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}
#kss-node .kss-title__ref:before {
  content: 'Section ';
}
#kss-node .kss-title__permalink {
  display: block;
  color: #000;
  text-decoration: none;
}
#kss-node .kss-title__permalink:hover,
#kss-node .kss-title__permalink:focus,
#kss-node .kss-title__permalink:active {
  color: #0645ad;
}
@media screen and (min-width: 607px) {
  #kss-node .kss-title__permalink:hover .kss-title__permalink-hash,
  #kss-node .kss-title__permalink:focus .kss-title__permalink-hash,
  #kss-node .kss-title__permalink:active .kss-title__permalink-hash {
    display: inline;
  }
}
#kss-node .kss-title__permalink-hash {
  display: none;
  color: #ccc;
}
#kss-node .kss-parameters {
  display: table;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#kss-node .kss-parameters__item {
  display: table-row;
}
#kss-node .kss-parameters__name {
  display: table-cell;
  padding-right: 20px;
}
#kss-node .kss-parameters__description {
  display: table-cell;
}
#kss-node .kss-modifier__default-name {
  font-weight: bold;
  margin-bottom: 12px;
}
#kss-node .kss-modifier__name {
  float: right;
  font-style: italic;
}
.rtl #kss-node .kss-modifier__name {
  float: left;
}
#kss-node .kss-modifier__description {
  margin-top: 24px;
  font-weight: bold;
}
#kss-node .kss-modifier__example {
  clear: left;
  padding: 1px 0;
  margin: 0 0 23px 0;
}
#kss-node .kss-modifier__example:last-child {
  margin: 0;
}
#kss-node .kss-markup {
  margin: -1px 0 24px 0;
  border: 1px solid #999;
}
#kss-node .kss-markup pre {
  margin: 0;
}
#kss-node .kss-github {
  display: none;
}
@media screen and (min-width: 501px) {
  #kss-node .kss-github {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
#kss-node .kss-github img {
  border: 0;
}
#kss-node .kss-color-swatch {
  color: #fff;
  font-weight: bold;
  padding: 10px;
  width: 180px;
  height: 180px;
  margin-right: 1.9%;
  margin-bottom: 20px;
  display: inline-block;
}
.rtl #kss-node .kss-color-swatch {
  margin-right: 0;
  margin-left: 1.9%;
}
#kss-node .kss-color-swatch.kss-color-a {
  background: #ed1c24;
}
#kss-node .kss-color-swatch.kss-color-b {
  background: #00a650;
}
#kss-node .kss-color-swatch.kss-color-c {
  background: #2056ae;
}
#kss-node .kss-color-swatch.kss-color-d {
  background: #fabc09;
}
#kss-node .kss-color-swatch.kss-color-e {
  background: #434041;
}
#kss-node .kss-color-swatch.kss-color-f {
  background: #747172;
}
#kss-node .kss-color-swatch.kss-color-g {
  background: #aeadad;
}
#kss-node .kss-color-swatch.kss-color-h {
  background: #d7d6d6;
}
#kss-node .pln {
  color: #000000;
}
#kss-node .str {
  color: #008800;
}
#kss-node .kwd {
  color: #000088;
}
#kss-node .com {
  color: #880000;
}
#kss-node .typ {
  color: #660066;
}
#kss-node .lit {
  color: #006666;
}
#kss-node .pun,
#kss-node .opn,
#kss-node .clo {
  color: #666600;
}
#kss-node .tag {
  color: #000088;
}
#kss-node .atn {
  color: #660066;
}
#kss-node .atv {
  color: #008800;
}
#kss-node .dec,
#kss-node .var {
  color: #660066;
}
#kss-node .fun {
  color: red;
}
@media print, projection {
  #kss-node .str {
    color: #006600;
  }
  #kss-node .kwd {
    color: #006;
    font-weight: bold;
  }
  #kss-node .com {
    color: #600;
    font-style: italic;
  }
  #kss-node .typ {
    color: #404;
    font-weight: bold;
  }
  #kss-node .lit {
    color: #004444;
  }
  #kss-node .pun,
  #kss-node .opn,
  #kss-node .clo {
    color: #444400;
  }
  #kss-node .tag {
    color: #006;
    font-weight: bold;
  }
  #kss-node .atn {
    color: #440044;
  }
  #kss-node .atv {
    color: #006600;
  }
}
#kss-node ol.linenums {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#kss-node ol.linenums li {
  min-height: 36px;
  border-bottom: 1px solid #eee;
  padding: 0 10px;
  background: #fff;
}
#kss-node ol.linenums li:first-child {
  padding-top: 3px;
}
#kss-node ol.linenums li:nth-child(even) {
  background: #FAFAFA;
}
