<div class="grid">
	<div class="layout layout-a">
		<div class="region region-a">
			<div class="region-inner">
				{{#repeat 24}}
				<div class="block block--single"></div>
				{{/repeat}}
			</div>
		</div>
	</div>
</div>
