---
title: Contact
visibleGrid: true
---
{{#extend "layout-b"}}
	{{#content "region-a"}}
		<p class="block block-size-a">region-a content</p>
	{{/content}}
	{{#content "region-b"}}
		<p class="block block-size-b">region-b content</p>
	{{/content}}
	{{#content "region-c"}}
		<p class="block block-size-c">region-c content</p>
	{{/content}}
{{/extend}}
