---
title: Example Grid
showHeader: false
visibleGrid: false
visibleBreakpoints: true
---

{{#extend "layout-a"}}

{{#content "features-top"}}
<div class="layout layout-a">
	<h1 class="header-stylesheet">Example grid page</h1>
</div>
{{/content}}

{{#content "region-a"}}

{{#repeat 4term}}
<article class="gridblock block block-size-d block-demo section-style-d">
	<header class="gridblock-header">
		<h1 class="gridblock-title">.block-size-d</h1>
		<h2>.section-style-d</h2>
	</header>
	<div class="gridblock-body">
		<p>100% width up to breakpoint-d (768px). 50% width to breakpoint-e (1000px). 25% from breakpoint-e (1000px) up.</p>
	</div>
</article>
{{/repeat}}

{{/content}}
{{/extend}}
