---
title: Example Grid
visibleGrid: true
pageType: layoutPage
bbPageNav: true
layoutPage: true
---

{{#extend "layout--a"}}
	{{#content "region--a"}}
		<article class="gridblock block block--size-a">
			<h1 class="gridblock__title">.block--size-a</h1>
			<p class="gridblock__body">100% width at all break points.</p>
		</article>

		<article class="gridblock block block--size-b">
			<h1 class="gridblock__title">.block--size-b</h1>
			<p class="gridblock__body">100% width up to break-point-d. 66% over break-point-d</p>
		</article>

		<article class="gridblock block block--size-c">
			<h1 class="gridblock__title">.block--size-c</h1>
			<p class="gridblock__body">100% width up to break-point-d. 33% over break-point-d</p>
		</article>



		<article class="gridblock block block--size-d">
			<h1 class="gridblock__title">.block--size-d</h1>
			<p class="gridblock__body">100% width up to break-point-d. 50% over break-point-d</p>
		</article>
		<article class="gridblock block block--size-d">
			<h1 class="gridblock__title">.block--size-d</h1>
			<p class="gridblock__body">100% width up to break-point-d. 50% over break-point-d</p>
		</article>



		<article class="gridblock block block--size-e">
			<h1 class="gridblock__title">.block--size-e</h1>
			<p class="gridblock__body">100% width up to break-point-d. 60% over break-point-d</p>
		</article>



		<article class="gridblock block block--size-f">
			<h1 class="gridblock__title">.block--size-f</h1>
			<p class="gridblock__body">100% width up to break-point-d. 40% over break-point-d</p>
		</article>



		<article class="gridblock block block--size-g">
			<h1 class="gridblock__title">.block--size-g</h1>
			<p class="gridblock__body">100% width up to break-point-d. 25% over break-point-d</p>
		</article>
		<article class="gridblock block block--size-g">
			<h1 class="gridblock__title">.block--size-g</h1>
			<p class="gridblock__body">100% width up to break-point-d. 25% over break-point-d</p>
		</article>
		<article class="gridblock block block--size-g">
			<h1 class="gridblock__title">.block--size-g</h1>
			<p class="gridblock__body">100% width up to break-point-d. 25% over break-point-d</p>
		</article>
		<article class="gridblock block block--size-g">
			<h1 class="gridblock__title">.block--size-g</h1>
			<p class="gridblock__body">100% width up to break-point-d. 25% over break-point-d</p>
		</article>
	{{/content}}
{{/extend}}
