---
title: Example Layout A
layoutPage: true
bbPageNav: true
---

{{#extend "layout-a"}}
	{{#content "features-top"}}
		<p>features top</p>
	{{/content}}

	{{#content "sections-top"}}
		<p>sections top</p>
	{{/content}}

	{{#content "region-a"}}
		<p class="block block--size-a">region-a</p>
	{{/content}}

	{{#content "sections-bottom"}}
		<p>sections bottom</p>
	{{/content}}

	{{#content "features-bottom"}}
		<p>features bottom</p>
	{{/content}}
{{/extend}}
