---
title: Example Layout A
pageType: layoutPage
bbPageNav: true
layoutPage: true
---

{{#extend "layout--a"}}

	{{#content "region--a"}}
		<p class="block block--size-a">region-a</p>
	{{/content}}

{{/extend}}
