---
title: Shapes
---
{{#extend "layout-a"}}
{{#content "region-a"}}

<div class="block block-size-a shapes-container">
	{{#repeat 10}}
	<p><strong>Demo text </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, libero culpa qui numquam sint molestias. Velit aspernatur, ullam iste, officia nisi non sequi quam vel saepe molestias officiis explicabo, tempora!</p>
	{{/repeat}}
</div>

{{/content}}
{{/extend}}
