---
title: Stylesheet
rtl: true
---
{{#extend "layout-b"}}
	{{#content "region-a"}}
		<p>region-a content</p>
	{{/content}}
	{{#content "region-b"}}
		<p>region-b content</p>
	{{/content}}
{{/extend}}
