---
component: footer
title: footer
---
			</main>
			<!-- end #main -->

			<footer id="footer" role="contentinfo">

			</footer>
			<!-- end #footer -->

		</div>
		<!-- end #page -->

		<!-- Jquery (uses Google CDN with local fallback) -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{assets}}/scripts/vendor/jquery.js"><\/script>')</script>

		<!-- Combined Scripts -->
		<script src="{{assets}}/scripts/scripts.js"></script>

	</body>
</html>
