---
component: page-header
hide: true
published: false
---
<div class="page-header">
	<div class="page-header-inner">
		<h1 class="page-header-title">{{{title}}}</h1>
		{{#if body}}
		<div class="pager-header-body">
			{{{body}}}
		</div>
		{{/if}}
	</div>
</div>
