---
component: head-meta
hide: true
published: false
---
<meta charset="utf-8" />
<meta http-equiv="cleartype" content="on" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>{{title}} | {{project.client}}</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
