---
title: Default
---
{{#extend "master"}}
	{{! Main Content }}
	{{#content "master-body"}}
		{{body}}
	{{/content}}
	{{! Additional Content for <head> and just before </body>}}
	{{#content "master-head"}}
		{{#block "head"}}{{/block}}
	{{/content}}
	{{#content "master-foot"}}
		{{#block "foot"}}{{/block}}
	{{/content}}
{{/extend}}
