---
title: Layout Empty
---
{{#extend "master"}}
	{{! Main Content }}
	<main class="main" id="main" role="main">
		{{body}}
	</main>
	{{/content}}
	{{! Additional Content for <head> and just before </body>}}
	{{#content "master-head" mode="extend"}}
		{{#block "head"}}{{/block}}
	{{/content}}
	{{#content "master-foot" mode="extend"}}
		{{#block "foot"}}{{/block}}
	{{/content}}
{{/extend}}
