{{#extend "master"}}
  {{#content "master__head" mode="append"}}
    {{#block "head"}}{{/block}}
  {{/content}}
  {{#content "master__main"}}

    {{#if (content "section-full-top")}}
      {{#block "section-full-top"}}{{/block}}
    {{/if}}

    {{#or (content "region--a") (content "region--b") (content "region--c")}}
      <div class="layout layout--a">
          {{#if (content "region--a")}}
            <div class="region region--a">
              <div class="region-inner">
              {{#block "region--a"}}{{/block}}
              <div>
            </div>
          {{/if}}
          {{#if (content "region--b")}}
            <div class="region region--b">
              <div class="region-inner">
              {{#block "region--b"}}{{/block}}
              </div>
            </div>
          {{/if}}
          {{#if (content "region--c")}}
            <div class="region region--c">
              <div class="region-inner">
              {{#block "region--c"}}{{/block}}
              </div>
            </div>
          {{/if}}
      </div>
    {{/or}}

    {{#if (content "section-full-bottom")}}
      {{#block "section-full-bottom"}}{{/block}}
    {{/if}}


  {{/content}}
  {{#content "master__foot" mode="append"}}
    {{#block "foot"}}{{/block}}
  {{/content}}
{{/extend}}
