---
title: Layout B
---
{{#extend "master"}}
	{{! Main Content }}
	{{#content "master-body"}}
		<main id="main" role="main" class="layout-a">
			{{body}}
			<div class="region-a">
				{{#block "region-a"}}{{/block}}
			</div>
			<div class="region-b">
				{{#block "region-b"}}{{/block}}
			</div>
			<div class="region-c">
				{{#block "region-b"}}{{/block}}
			</div>
		</main>
	{{/content}}
	{{! Additional Content for <head> and just before </body>}}
	{{#content "master-head"}}
		{{#block "head"}}{{/block}}
	{{/content}}
	{{#content "master-foot"}}
		{{#block "foot"}}{{/block}}
	{{/content}}
{{/extend}}

