---
title: Master Page
---
<!DOCTYPE html>
{{#if rtl}}
<!--[if IE 8]><html class="rtl no-js ie8 lt-ie10 lt-ie9" lang="en" dir="rtl"><![endif]-->
<!--[if IE 9]><html class="rtl no-js ie9 lt-ie10" lang="en" dir="rtl"><![endif]-->
<!--[if gt IE 9]><!--><html class="rtl no-js" lang="en" dir="rtl"><!--<![endif]-->
{{else}}
<!--[if IE 8]><html class="no-js ie8 lt-ie10 lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if IE 9]><html class="no-js ie9 lt-ie10" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
{{/if}}
	<head>
		{{>head-meta}}
		{{>head-app}}
		{{>head-icons}}
		{{#if rtl}}
			{{>head-css-rtl}}
		{{else}}
			{{>head-css}}
		{{/if}}
		{{>head-scripts}}
		{{#block "master-head"}}{{/block}}
	</head>
	<body>
		<div id="page" class="page {{#if visibleGrid}}visible-grid{{/if}}">
			{{>header}}
			{{#block "master-body"}}
				{{body}}
			{{/block}}
			{{>footer}}
		</div>
		<!-- end #page -->
		{{>footer-scripts}}
		{{#block "master-foot"}}{{/block}}
	</body>
</html>

