<!doctype html>
<html lang="en" class="no-js">
  <head>

		{{#block "master__head"}}
			{{>head/head-meta}}
			{{>head/head-app}}
			{{>head/head-icons}}
			{{>head/head-css}}
			{{>head/head-fonts}}
			{{>head/head-scripts}}
		{{/block}}

  </head>
  <body class="body{{#if pageData.visibleGrid}} visible-grid{{/if}}{{#if pageData.visibleBreakpoints}} visible-breakpoints{{/if}}">

    {{#block "master__header"}}
      {{> header}}
    {{/block}}

    <div id="page" class="page{{#if pageData.pageClass}} {{pageData.pageClass}}{{/if}}">
      <main class="main" role="main">
      {{#block "master__main"}}{{/block}}
      </main>
    </div>

    {{#block "master__footer"}}
      {{> footer}}
    {{/block}}

    <!-- DEMO USE ONLY : START -->
    {{#if pageData.visibleGrid}}
      {{> other/grid}}
    {{/if}}
    <button class="action-demo-actions demo-actions-btn">
      <i class="bb-icon bb-icon-menu"><b>menu</b></i>
    </button>
    <div class="demo-actions">
      <div class="demo-links">
        <button class="action-demo-actions">
          <i class="bb-icon bb-icon-chevron-down"><b>hide menu</b></i>
        </button>
      </div>
      <div class="demo-info">
        <p>
          <strong><a href="/">{{{global.title}}}</a></strong>
        </p>
        <img src="_bb/bb-logo.svg" alt="BB Logo" class="demo-bb-logo" />
      </div>
    </div>
    <script src="https://use.typekit.net/ugk3ouj.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- DEMO USE ONLY : END -->

    {{#block "master__foot"}}
			{{>foot/foot-scripts}}
    {{/block}}

  </body>
</html>
