---
component: bb-page-nav
hide: true
published: false
---

<!-- FOR USE BB DEMO SITE ONLY * START * -->
<div class="bb-page-nav">
	<div class="bb-page-nav-top">
		<button class="action-bb-page-nav-close bb-page-nav-close btn btn--small">
			<i class="bb-icon bb-icon-close">
				<b>close</b>
			</i>
		</button>
	</div>
	<div class="bb-page-nav-inner">

		{{!-- <h2 class="bb-page-title"><a class="bb-home-link" href="/">Back to home page</a></h2> --}}

		{{> _bb/styleguide-link}}
		{{> _bb/page-list}}
		{{> _bb/component-list}}
		{{> _bb/rtl-list}}
		{{> _bb/layout-list}}

	</div>
</div>
<!-- FOR USE BB DEMO SITE ONLY * END * -->
