---
component: page-list
hide: true
published: false
---

<h2 class="bb-page-title">Pages</h2>
<ul class="file-list">
	{{#withSort pages "filename"}}
		{{#if data.fullPage}}
			{{#unless data.hide}}
				<li class="file">
					<a href="{{relative dest this.dest}}">{{data.title}} <span>{{filename}}</span></a>
				</li>
			{{/unless}}
		{{/if}}
	{{/withSort}}
</ul>
