---
component: partials-list
hide: true
published: false
---
<h2>Partials <span>(List or individual components used in this project)</span></h2>
<ul class="file-list">
	{{#each pages}}
		{{#unless data.hide}}
		<li><a href="{{relative dest this.dest}}">{{data.component}}</a></li>
		{{/unless}}
	{{/each}}
</ul>
