---
component: responsive-link
hide: true
published: false
---
<h2>Responsive Testing <span>(Test prototype at multiple break points)</span></h2>
<p class="page-link">
	<a href="responsive.html">Responsive Design Testing Tool &rarr;</a>
	<strong>The responsive design testing tool is best used in <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a> on a desktop</strong>
</p>
